*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}

@media (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* transition .3s */

.trans-300 {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* transition .3s */

/* topic span before */

.topic {
  position: absolute;
  top: calc(calc(50% - 2px) * -1);
  left: calc(calc(50% - 2px) * -1);
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(9 21 20 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(128 208 199 / var(--tw-bg-opacity));
  --tw-content: '';
  content: var(--tw-content);
}

@media (min-width: 360px) {
  .topic {
    top: calc(calc(50% - 4px) * -1);
    left: calc(calc(50% - 4px) * -1);
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (min-width: 992px) {
  .topic {
    --tw-bg-opacity: 1;
    background-color: rgb(38 159 169 / var(--tw-bg-opacity));
  }
}

/* topic span before */

/* bg gradiant */

.graden {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);;
}

/* bg gradiant */

/* onglet pages */

@media (min-width: 992px) {
  .showing:hover ~ div {
    --tw-translate-y: 45%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 1;
  }
}

.showing div:hover {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

.active {
  --tw-text-opacity: 1;
  color: rgb(0 85 122 / var(--tw-text-opacity));
}

/* onglet pages */

/* topic section */

.etiquette {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  margin-right: 5px;
  margin-bottom: -1px;
  cursor: pointer;
  border-bottom-width: 1px;
  border-bottom-color: transparent;
  padding-left: 4.5px;
  padding-right: 4.5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(113 114 117 / var(--tw-text-opacity));
}

.etiquette:hover {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 85 122 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 85 122 / var(--tw-text-opacity));
}

@media (min-width: 300px) {
  .etiquette {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 360px) {
  .etiquette {
    padding: 10px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .etiquette {
    margin-right: 1.25rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
  }
}

/* topic section */

/* btn how it work */

.btn {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  border-radius: 24px;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(128 208 199 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-family: Open sans, sans-serif, poppins;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(128 208 199 / var(--tw-text-opacity));
}

.btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(128 208 199 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* btn how it work */

/* Padding vertical sur les dropdowns */

.droppad::before {
  display: block;
  height: 0.75rem;
  --tw-content: '';
  content: var(--tw-content);
}

.droppad::after {
  display: block;
  height: 0.75rem;
  --tw-content: '';
  content: var(--tw-content);
}

@media (min-width: 360px) {
  .droppad::before {
    content: var(--tw-content);
    height: 1rem;
  }

  .droppad::after {
    content: var(--tw-content);
    height: 1rem;
  }
}

/* Padding vertical sur les dropdowns */

/* Triangle bottom footer */

.triangle{
  clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
  position: absolute;
  right: 0px;
  bottom: 0.5rem;
  height: 130px;
  width: 120px;
  --tw-bg-opacity: 1;
  background-color: rgb(128 208 199 / var(--tw-bg-opacity));
}

@media (min-width: 360px) {
  .triangle {
    height: 160px;
    width: 180px;
  }
}

@media (min-width: 540px) {
  .triangle {
    height: 200px;
    width: 200px;
  }
}

/* Triangle bottom footer */

/* contact page */

.inp-contact {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  border-width: 1px;
  border-color: rgb(113 114 117 / 0.3);
  padding-bottom: 12px;
  padding-top: 26px;
  padding-right: 0.75rem;
  padding-left: 20px;
  line-height: 5;
  --tw-text-opacity: 1;
  color: rgb(113 114 117 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.inp-contact:focus {
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity));
}

.inp-contact:focus ~ span,
    .inp-contact:valid ~ span {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  --tw-translate-y: -0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-size: 11px;
  --tw-text-opacity: 1;
  color: rgb(113 114 117 / var(--tw-text-opacity));
}

@media (min-width: 360px) {
  .inp-contact:focus ~ span,
    .inp-contact:valid ~ span {
    font-size: 13px;
  }
}

/* contact page */

.pointer-events-none {
  pointer-events: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-3 {
  left: 0.75rem;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.-z-\[1\] {
  z-index: -1;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-\[0\] {
  z-index: 0;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-end-3 {
  grid-column-end: 3;
}

.row-start-1 {
  grid-row-start: 1;
}

.row-end-2 {
  grid-row-end: 2;
}

.m-5 {
  margin: 1.25rem;
}

.m-auto {
  margin: auto;
}

.mx-\[16px\] {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[18px\] {
  margin-bottom: 18px;
}

.mb-\[80px\] {
  margin-bottom: 80px;
}

.ml-auto {
  margin-left: auto;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[2px\] {
  margin-top: 2px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-12 {
  height: 3rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-\[12px\] {
  height: 12px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[235px\] {
  height: 235px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[78\%\] {
  height: 78%;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-\[235px\] {
  max-height: 235px;
}

.max-h-full {
  max-height: 100%;
}

.w-0 {
  width: 0px;
}

.w-12 {
  width: 3rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-\[158px\] {
  width: 158px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[4px\] {
  width: 4px;
}

.w-full {
  width: 100%;
}

.max-w-\[515px\] {
  max-width: 515px;
}

.max-w-\[540px\] {
  max-width: 540px;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.-translate-x-\[calc\(50\%-2px\)\] {
  --tw-translate-x: calc(calc(50% - 2px) * -1);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-20 {
  --tw-translate-y: -5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[6px\] {
  --tw-translate-y: -6px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-full {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-1 {
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[6px\] {
  --tw-translate-y: 6px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-full {
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-\[auto_1fr\] {
  grid-template-columns: auto 1fr;
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[18px\] {
  border-radius: 18px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[24px\] {
  border-radius: 24px;
}

.rounded-\[32px\] {
  border-radius: 32px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[6px\] {
  border-radius: 6px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-b-\[60px\] {
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-b-\[10px\] {
  border-bottom-width: 10px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-l-\[10px\] {
  border-left-width: 10px;
}

.border-r-\[10px\] {
  border-right-width: 10px;
}

.border-para\/30 {
  border-color: rgb(113 114 117 / 0.3);
}

.border-para\/70 {
  border-color: rgb(113 114 117 / 0.7);
}

.border-transparent {
  border-color: transparent;
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-b-\[\#ecf3f2\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(236 243 242 / var(--tw-border-opacity));
}

.border-b-second {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 85 122 / var(--tw-border-opacity));
}

.border-b-white {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#00B2FD\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 178 253 / var(--tw-bg-opacity));
}

.bg-\[\#00C2AA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 194 170 / var(--tw-bg-opacity));
}

.bg-\[\#426EFD\] {
  --tw-bg-opacity: 1;
  background-color: rgb(66 110 253 / var(--tw-bg-opacity));
}

.bg-\[\#FF0047\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 71 / var(--tw-bg-opacity));
}

.bg-\[\#FFA411\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 164 17 / var(--tw-bg-opacity));
}

.bg-\[\#f0f8ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 248 255 / var(--tw-bg-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(128 208 199 / var(--tw-bg-opacity));
}

.bg-second {
  --tw-bg-opacity: 1;
  background-color: rgb(0 85 122 / var(--tw-bg-opacity));
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}

.bg-third {
  --tw-bg-opacity: 1;
  background-color: rgb(240 248 255 / var(--tw-bg-opacity));
}

.bg-title {
  --tw-bg-opacity: 1;
  background-color: rgb(9 21 20 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-finance {
  background-image: url("../images/businesswoman-using-tablet-analysis.jpg");
}

.bg-working {
  background-image: url("../images/colleagues-working-cozy-office-medium-shot.jpg");
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-1 {
  padding: 0.25rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-\[20px\] {
  padding: 20px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[13\.5px\] {
  padding-left: 13.5px;
  padding-right: 13.5px;
}

.px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[26px\] {
  padding-left: 26px;
  padding-right: 26px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-\[22px\] {
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-\[4\.2px\] {
  padding-top: 4.2px;
  padding-bottom: 4.2px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-\[65px\] {
  padding-bottom: 65px;
}

.pb-\[80px\] {
  padding-bottom: 80px;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-\[6px\] {
  padding-left: 6px;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-\[150px\] {
  padding-top: 150px;
}

.pt-\[2px\] {
  padding-top: 2px;
}

.pt-\[30px\] {
  padding-top: 30px;
}

.text-center {
  text-align: center;
}

.font-open-sans {
  font-family: Open sans, sans-serif, poppins;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[28px\] {
  font-size: 28px;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-\[1\.2\] {
  line-height: 1.2;
}

.leading-\[1\.3\] {
  line-height: 1.3;
}

.leading-\[1\.5\] {
  line-height: 1.5;
}

.leading-\[1\.8\] {
  line-height: 1.8;
}

.leading-\[1\] {
  line-height: 1;
}

.leading-\[25px\] {
  line-height: 25px;
}

.leading-normal {
  line-height: 1.5;
}

.text-\[\#ED1A9F\] {
  --tw-text-opacity: 1;
  color: rgb(237 26 159 / var(--tw-text-opacity));
}

.text-para {
  --tw-text-opacity: 1;
  color: rgb(113 114 117 / var(--tw-text-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(128 208 199 / var(--tw-text-opacity));
}

.text-second {
  --tw-text-opacity: 1;
  color: rgb(0 85 122 / var(--tw-text-opacity));
}

.text-title {
  --tw-text-opacity: 1;
  color: rgb(9 21 20 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\#717275\] {
  --tw-text-opacity: 1;
  color: rgb(113 114 117 / var(--tw-text-opacity));
}

.opacity-0 {
  opacity: 0;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-85 {
  opacity: 0.85;
}

.shadow-\[0_0_3rem_\#D0D0D0\] {
  --tw-shadow: 0 0 3rem #D0D0D0;
  --tw-shadow-colored: 0 0 3rem var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-700 {
  transition-duration: 700ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.before\:topic::before{
  position: absolute;
  top: calc(calc(50% - 2px) * -1);
  left: calc(calc(50% - 2px) * -1);
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(9 21 20 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(128 208 199 / var(--tw-bg-opacity));
  --tw-content: '';
  content: var(--tw-content);
}

@media (min-width: 360px) {
  .before\:topic::before {
    top: calc(calc(50% - 4px) * -1);
    left: calc(calc(50% - 4px) * -1);
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (min-width: 992px) {
  .before\:topic::before {
    --tw-bg-opacity: 1;
    background-color: rgb(38 159 169 / var(--tw-bg-opacity));
  }
}

.\*\:m-0 > * {
  margin: 0px;
}

.\*\:box-border > * {
  box-sizing: border-box;
}

.\*\:font-global > * {
  font-family: montserrat, sans-serif, poppins;
}

.placeholder\:text-para::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(113 114 117 / var(--tw-text-opacity));
}

.placeholder\:text-para::placeholder {
  --tw-text-opacity: 1;
  color: rgb(113 114 117 / var(--tw-text-opacity));
}

.before\:bg-white::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.before\:px-2::before {
  content: var(--tw-content);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.before\:content-\[\'\/\'\]::before {
  --tw-content: '/';
  content: var(--tw-content);
}

.focus-within\:bg-indigo-400\/50:focus-within {
  background-color: rgb(129 140 248 / 0.5);
}

.hover\:-translate-y-1:hover {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(128 208 199 / var(--tw-bg-opacity));
}

.hover\:bg-second:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 85 122 / var(--tw-bg-opacity));
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(128 208 199 / var(--tw-text-opacity));
}

.hover\:text-second:hover {
  --tw-text-opacity: 1;
  color: rgb(0 85 122 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.focus\:border-blue-400:focus {
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity));
}

@media (min-width: 360px) {
  .ss\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .ss\:m-\[30px\] {
    margin: 30px;
  }

  .ss\:m-\[30px_20px_20px_30px\] {
    margin: 30px 20px 20px 30px;
  }

  .ss\:mx-\[25px\] {
    margin-left: 25px;
    margin-right: 25px;
  }

  .ss\:mb-4 {
    margin-bottom: 1rem;
  }

  .ss\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .ss\:mb-\[48px\] {
    margin-bottom: 48px;
  }

  .ss\:ml-3 {
    margin-left: 0.75rem;
  }

  .ss\:mr-3 {
    margin-right: 0.75rem;
  }

  .ss\:mt-\[35px\] {
    margin-top: 35px;
  }

  .ss\:flex {
    display: flex;
  }

  .ss\:inline-flex {
    display: inline-flex;
  }

  .ss\:h-10 {
    height: 2.5rem;
  }

  .ss\:h-16 {
    height: 4rem;
  }

  .ss\:h-6 {
    height: 1.5rem;
  }

  .ss\:h-\[245px\] {
    height: 245px;
  }

  .ss\:h-\[300px\] {
    height: 300px;
  }

  .ss\:h-\[40px\] {
    height: 40px;
  }

  .ss\:w-10 {
    width: 2.5rem;
  }

  .ss\:w-16 {
    width: 4rem;
  }

  .ss\:w-6 {
    width: 1.5rem;
  }

  .ss\:w-7 {
    width: 1.75rem;
  }

  .ss\:w-\[40px\] {
    width: 40px;
  }

  .ss\:w-\[6px\] {
    width: 6px;
  }

  .ss\:-translate-y-\[8px\] {
    --tw-translate-y: -8px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .ss\:translate-y-\[8px\] {
    --tw-translate-y: 8px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .ss\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .ss\:flex-wrap {
    flex-wrap: wrap;
  }

  .ss\:items-start {
    align-items: flex-start;
  }

  .ss\:justify-center {
    justify-content: center;
  }

  .ss\:gap-0 {
    gap: 0px;
  }

  .ss\:gap-1 {
    gap: 0.25rem;
  }

  .ss\:gap-5 {
    gap: 1.25rem;
  }

  .ss\:gap-\[6px\] {
    gap: 6px;
  }

  .ss\:rounded-\[32px\] {
    border-radius: 32px;
  }

  .ss\:p-10 {
    padding: 2.5rem;
  }

  .ss\:p-\[30px\] {
    padding: 30px;
  }

  .ss\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .ss\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .ss\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .ss\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .ss\:pb-4 {
    padding-bottom: 1rem;
  }

  .ss\:pl-3 {
    padding-left: 0.75rem;
  }

  .ss\:pr-\[10px\] {
    padding-right: 10px;
  }

  .ss\:text-\[12px\] {
    font-size: 12px;
  }

  .ss\:text-\[14px\] {
    font-size: 14px;
  }

  .ss\:text-\[16px\] {
    font-size: 16px;
  }

  .ss\:text-\[18px\] {
    font-size: 18px;
  }

  .ss\:text-\[20px\] {
    font-size: 20px;
  }

  .ss\:text-\[22px\] {
    font-size: 22px;
  }

  .ss\:text-\[28px\] {
    font-size: 28px;
  }

  .ss\:text-\[32px\] {
    font-size: 32px;
  }

  .ss\:text-\[36px\] {
    font-size: 36px;
  }

  .ss\:leading-\[1\.2\] {
    line-height: 1.2;
  }

  .ss\:leading-\[1\.5\] {
    line-height: 1.5;
  }

  .ss\:leading-\[40px\] {
    line-height: 40px;
  }
}

@media (min-width: 400px) {
  .min-\[400px\]\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .min-\[400px\]\:mt-\[20px\] {
    margin-top: 20px;
  }
}

@media (min-width: 490px) {
  .min-\[490px\]\:h-\[80\%\] {
    height: 80%;
  }
}

@media (min-width: 540px) {
  .ssm\:mt-\[10px\] {
    margin-top: 10px;
  }

  .ssm\:h-\[82\%\] {
    height: 82%;
  }

  .ssm\:justify-center {
    justify-content: center;
  }

  .ssm\:gap-6 {
    gap: 1.5rem;
  }

  .ssm\:rounded-\[40px\] {
    border-radius: 40px;
  }

  .ssm\:rounded-\[48px\] {
    border-radius: 48px;
  }

  .ssm\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .ssm\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .ssm\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .ssm\:pb-\[75px\] {
    padding-bottom: 75px;
  }

  .ssm\:pl-7 {
    padding-left: 1.75rem;
  }

  .ssm\:pr-3 {
    padding-right: 0.75rem;
  }

  .ssm\:pt-\[150px\] {
    padding-top: 150px;
  }

  .ssm\:text-\[16px\] {
    font-size: 16px;
  }

  .ssm\:text-\[28px\] {
    font-size: 28px;
  }

  .ssm\:text-\[32px\] {
    font-size: 32px;
  }

  .ssm\:text-\[36px\] {
    font-size: 36px;
  }

  .ssm\:text-\[48px\] {
    font-size: 48px;
  }

  .ssm\:text-\[24px\] {
    font-size: 24px;
  }

  .ssm\:leading-\[30px\] {
    line-height: 30px;
  }
}

@media (min-width: 560px) {
  .min-\[560px\]\:px-\[6px\] {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (min-width: 640px) {
  .sm\:h-\[270px\] {
    height: 270px;
  }

  .sm\:max-h-\[270px\] {
    max-height: 270px;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .md\:col-start-1 {
    grid-column-start: 1;
  }

  .md\:col-start-2 {
    grid-column-start: 2;
  }

  .md\:col-end-2 {
    grid-column-end: 2;
  }

  .md\:col-end-3 {
    grid-column-end: 3;
  }

  .md\:mr-2 {
    margin-right: 0.5rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:h-9 {
    height: 2.25rem;
  }

  .md\:h-\[104px\] {
    height: 104px;
  }

  .md\:h-\[200px\] {
    height: 200px;
  }

  .md\:h-\[320px\] {
    height: 320px;
  }

  .md\:h-\[430px\] {
    height: 430px;
  }

  .md\:h-\[80px\] {
    height: 80px;
  }

  .md\:h-\[85\%\] {
    height: 85%;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:max-h-\[320px\] {
    max-height: 320px;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-2 {
    width: 0.5rem;
  }

  .md\:w-9 {
    width: 2.25rem;
  }

  .md\:w-\[104px\] {
    width: 104px;
  }

  .md\:w-\[80px\] {
    width: 80px;
  }

  .md\:max-w-\[640px\] {
    max-width: 640px;
  }

  .md\:max-w-\[720px\] {
    max-width: 720px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:gap-14 {
    gap: 3.5rem;
  }

  .md\:gap-2 {
    gap: 0.5rem;
  }

  .md\:gap-3 {
    gap: 0.75rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .md\:gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .md\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .md\:py-\[14px\] {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .md\:pb-3 {
    padding-bottom: 0.75rem;
  }

  .md\:pr-6 {
    padding-right: 1.5rem;
  }

  .md\:pt-0 {
    padding-top: 0px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[20px\] {
    font-size: 20px;
  }

  .md\:text-\[24px\] {
    font-size: 24px;
  }

  .md\:leading-\[40px\] {
    line-height: 40px;
  }
}

@media (min-width: 992px) {
  .mm\:absolute {
    position: absolute;
  }

  .mm\:relative {
    position: relative;
  }

  .mm\:-bottom-16 {
    bottom: -4rem;
  }

  .mm\:-right-0 {
    right: -0px;
  }

  .mm\:left-4 {
    left: 1rem;
  }

  .mm\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .mm\:mb-0 {
    margin-bottom: 0px;
  }

  .mm\:mb-12 {
    margin-bottom: 3rem;
  }

  .mm\:ml-auto {
    margin-left: auto;
  }

  .mm\:mt-auto {
    margin-top: auto;
  }

  .mm\:flex {
    display: flex;
  }

  .mm\:inline-flex {
    display: inline-flex;
  }

  .mm\:grid {
    display: grid;
  }

  .mm\:hidden {
    display: none;
  }

  .mm\:h-\[200px\] {
    height: 200px;
  }

  .mm\:h-\[256px\] {
    height: 256px;
  }

  .mm\:h-full {
    height: 100%;
  }

  .mm\:h-\[250px\] {
    height: 250px;
  }

  .mm\:max-h-none {
    max-height: none;
  }

  .mm\:w-1\/2 {
    width: 50%;
  }

  .mm\:w-\[200px\] {
    width: 200px;
  }

  .mm\:w-\[41\%\] {
    width: 41%;
  }

  .mm\:w-\[90\%\] {
    width: 90%;
  }

  .mm\:w-auto {
    width: auto;
  }

  .mm\:w-full {
    width: 100%;
  }

  .mm\:w-1 {
    width: 0.25rem;
  }

  .mm\:max-w-\[600px\] {
    max-width: 600px;
  }

  .mm\:max-w-\[640px\] {
    max-width: 640px;
  }

  .mm\:max-w-\[780px\] {
    max-width: 780px;
  }

  .mm\:max-w-\[800px\] {
    max-width: 800px;
  }

  .mm\:max-w-\[960px\] {
    max-width: 960px;
  }

  .mm\:flex-shrink-0 {
    flex-shrink: 0;
  }

  .mm\:-translate-y-24 {
    --tw-translate-y: -6rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .mm\:-translate-y-\[90\%\] {
    --tw-translate-y: -90%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .mm\:translate-x-1\/2 {
    --tw-translate-x: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .mm\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .mm\:translate-y-full {
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .mm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .mm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .mm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .mm\:grid-cols-\[40\%_1fr\] {
    grid-template-columns: 40% 1fr;
  }

  .mm\:grid-cols-\[40\%_1fr_1fr\] {
    grid-template-columns: 40% 1fr 1fr;
  }

  .mm\:grid-cols-\[40\%_60\%\] {
    grid-template-columns: 40% 60%;
  }

  .mm\:grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .mm\:flex-row {
    flex-direction: row;
  }

  .mm\:items-center {
    align-items: center;
  }

  .mm\:justify-normal {
    justify-content: normal;
  }

  .mm\:justify-center {
    justify-content: center;
  }

  .mm\:justify-between {
    justify-content: space-between;
  }

  .mm\:gap-0 {
    gap: 0px;
  }

  .mm\:gap-28 {
    gap: 7rem;
  }

  .mm\:gap-5 {
    gap: 1.25rem;
  }

  .mm\:gap-6 {
    gap: 1.5rem;
  }

  .mm\:gap-x-11 {
    -moz-column-gap: 2.75rem;
         column-gap: 2.75rem;
  }

  .mm\:overflow-visible {
    overflow: visible;
  }

  .mm\:rounded-\[20px\] {
    border-radius: 20px;
  }

  .mm\:rounded-b-\[80px\] {
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .mm\:border-b-\[1px\] {
    border-bottom-width: 1px;
  }

  .mm\:border-l-\[13px\] {
    border-left-width: 13px;
  }

  .mm\:border-r-\[13px\] {
    border-right-width: 13px;
  }

  .mm\:border-b-primary\/50 {
    border-bottom-color: rgb(128 208 199 / 0.5);
  }

  .mm\:bg-transparent {
    background-color: transparent;
  }

  .mm\:p-\[50px\] {
    padding: 50px;
  }

  .mm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mm\:py-\[100px\] {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .mm\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .mm\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .mm\:pr-0 {
    padding-right: 0px;
  }

  .mm\:pr-\[40px\] {
    padding-right: 40px;
  }

  .mm\:text-\[22px\] {
    font-size: 22px;
  }

  .mm\:text-\[24px\] {
    font-size: 24px;
  }

  .mm\:text-\[46px\] {
    font-size: 46px;
  }

  .mm\:text-\[58px\] {
    font-size: 58px;
  }

  .mm\:opacity-0 {
    opacity: 0;
  }

  .mm\:hover\:translate-y-\[45\%\]:hover {
    --tw-translate-y: 45%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .mm\:hover\:opacity-100:hover {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .xm\:h-\[90\%\] {
    height: 90%;
  }

  .xm\:w-\[\] {
    width: ;
  }

  .xm\:w-\[41\%\] {
    width: 41%;
  }

  .xm\:w-full {
    width: 100%;
  }

  .xm\:max-w-\[1120px\] {
    max-width: 1120px;
  }

  .xm\:max-w-\[1140px\] {
    max-width: 1140px;
  }

  .xm\:max-w-\[740px\] {
    max-width: 740px;
  }

  .xm\:max-w-\[760px\] {
    max-width: 760px;
  }

  .xm\:max-w-\[950px\] {
    max-width: 950px;
  }

  .xm\:max-w-\[960px\] {
    max-width: 960px;
  }

  .xm\:gap-10 {
    gap: 2.5rem;
  }

  .xm\:gap-32 {
    gap: 8rem;
  }

  .xm\:gap-x-14 {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }

  .xm\:pb-\[95px\] {
    padding-bottom: 95px;
  }

  .xm\:pr-8 {
    padding-right: 2rem;
  }

  .xm\:pr-0 {
    padding-right: 0px;
  }
}

@media (min-width: 1400px) {
  .xx\:mb-8 {
    margin-bottom: 2rem;
  }

  .xx\:mt-8 {
    margin-top: 2rem;
  }

  .xx\:w-\[80\%\] {
    width: 80%;
  }

  .xx\:max-w-\[1080px\] {
    max-width: 1080px;
  }

  .xx\:max-w-\[1100px\] {
    max-width: 1100px;
  }

  .xx\:max-w-\[1280px\] {
    max-width: 1280px;
  }

  .xx\:max-w-\[1320px\] {
    max-width: 1320px;
  }

  .xx\:max-w-\[1340px\] {
    max-width: 1340px;
  }

  .xx\:max-w-\[860px\] {
    max-width: 860px;
  }

  .xx\:gap-6 {
    gap: 1.5rem;
  }

  .xx\:rounded-b-\[100px\] {
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .xx\:p-\[72px\] {
    padding: 72px;
  }

  .xx\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .xx\:pr-3 {
    padding-right: 0.75rem;
  }

  .xx\:pr-7 {
    padding-right: 1.75rem;
  }
}